﻿@{
    ViewBag.Title = "Index"; 
}
 

<div class="banner-section">
    <h3 class="tittle">General <i class="glyphicon glyphicon-picture"></i></h3>
    <div class="banner">

        
        <!--banner-->
    </div>
 

</div>

 
 
