﻿@{
    ViewBag.Title = "Goster";
}

@model   HaberPortal.Haber
 
@helper BegeniDurum(HaberPortal.Yorum yorum) {

                    if (yorum.Begen - yorum.Tiksinti >= 0)
                    {
                            <span class="positive">
                                <span id="ratenumber">
                                    +@{Write(yorum.Begen - yorum.Tiksinti);}
                                </span>
                            </span>
                    }
                    else
                    {
                        <span class="negative">
                            <span id="ratenumber"> 
                                +@{Write(yorum.Begen - yorum.Tiksinti);}
                            </span>
                        </span>
                    }
}

<div class="banner-section">
    <h3 class="tittle"> @Model.Baslik <i class="glyphicon glyphicon-file"></i></h3>
    <div class="single">
        <img src="@Model.ResimYol" class="img-responsive" alt="" />
        <div class="b-bottom">
            <h5 class="top"><a href="#">@Model.Ozet</a></h5>
            <p class="sub">@Model.Icerik</p>
            <p>@Model.YayimTarihi.ToShortDateString() <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@Model.YorumSayisi</a>
                     @*<a class="span_link" href="#"> <span class="glyphicon glyphicon-eye-open"></span>@Model.Goruntulenme</a>*@
            </p>
            <p class="glyphicon-tags">Etiketler : 
                
                @foreach (var etiket in @Model.Etiket)
                {
                        <a class="span_link" href="/Etiket/Listele/@etiket.Adi/@etiket.Id">@etiket.Adi</a>
                }

            </p>
        </div>
    </div>
    @*<div class="single-bottom">
        <div class="single-middle">
            <ul class="social-share">
                <li><span>SHARE</span></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i class="tin"> </i></a></li>
                <li><a href="#"><i class="message"> </i></a></li>
            </ul>
            <a href="#"><i class="arrow"> </i></a>
            <div class="clearfix"> </div>
        </div>

    </div>*@
    <div class="response">
        <h4>Responses</h4>
        @foreach (var yrm in Model.Yorum)
        {
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="images/sin1.jpg" alt="" />
                    </a>
                    <h5><a href="#">@yrm.AdSoyad</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>
                        @yrm.Icerik
                    </p>
                    <ul>
                        <li><time datetime="@yrm.Tarih">@yrm.Tarih.ToString("dd MMMM yyyy HH:mm")</time></li>
                        <li><a id="CommentRateUp" class="rate_up" href="javascript:void(0)">Like </a></li>
                        <li>@BegeniDurum(yrm)</li>
                        <li><a id="CommentRateDown" class="rate_down" href="javascript:void(0)">Hate </a></li> 
                        <script src="~/Content/js/jquery.min.js"></script>
                        <script>
                            $("#CommentRateUp").click(function () {
                                $.ajax({
                                    type: "POST",
                                    url:"/Haber/YorumBegen",
                                    data: "id=@yrm.Id",
                                    success: function () {
                                        $("#ratenumber").html(data);
                                    }
                                }); 
                            });
                            $("#CommentRateDown").click(function () {
                                $.ajax({
                                    type: "POST",
                                    url: "/Haber/YorumTiksin",
                                    data: "id=@yrm.Id",
                                    success: function () {
                                        $("#ratenumber").html(data);
                                    }
                                }); 
                            });
                        </script>
                    </ul>
                   
                </div>
                <div class="clearfix"> </div>
            </div>
        }
       
   
    </div>
    <div class="coment-form">
        <h4>Leave your comment</h4>
        <form action="/Haber/YorumYap/@Model.Id">
            <input type="text" value="Name " name="txtAdSoyad" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="true">
            <input type="email" value="Email" name="txtMail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="true">
            @*<input type="text" value="Website" name="txtWebsite" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">*@
            <textarea onfocus="this.value = '';" name="txtIcerik" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
            <input type="submit" value="Submit Comment">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<!--//banner-->
<!--//banner-section-->
<div class="banner-right-text">
    @{Html.RenderAction("Videolar", "Home");}
    </div>
    <div class="clearfix"> </div>
