﻿@{
    Layout = null;
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Ömür Alçin | Kişisel Blog Sayafası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blogger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
    <!--Custom-Theme-files-->
    <link href="/Content/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/Content/js/jquery.min.js"> </script>
    <!--/script-->
    <script type="text/javascript" src="/Content/js/move-top.js"></script>
    <script type="text/javascript" src="/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>

    @RenderSection("head", required: false)

</head>
<body>
    <!-- header-section-starts -->
    <div class="h-top" id="home">
        <div class="top-header">
            <ul class="cl-effect-16 top-nag">
                @*<li><a href="/Content/registration.html" data-hover="Registration">Registration</a></li>*@
                <li><a href="/About/AboutMe" data-hover="About">About</a></li>
                @*<li><a href="/Content/services.html" data-hover="SERVICES">SERVICES</a></li>*@
                @*<li><a href="/Content/login.html" data-hover="Login">Login</a></li>*@
                @*<li><a href="/Content/contact.html" data-hover="CONTACT">Contact</a></li>*@
            </ul>
            @*<div class="search-box">
                <div class="b-search">
                    <form method="post" action="/Arama/Ara">
                        <input type="text" value="Search" name="txtAra" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>*@

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="full">
        <div class="col-md-3 top-nav">
            <center>
                <div class="logo"> 
                    <a href="/Content/index.html">
                        
                        <img class="img-circle" width="100" height="140" src="@(pageName != "About" ? "/Content/images/CSGOO.png" : "/Content/images/Nerf.png")" /> 
                    </a>
                </div>

                <h3>Ömür Alçin</h3>
            </center>
            <div class="top-menu">
                <span class="menu"> </span>

                <ul class="cl-effect-16">
                    <li><a class="active" href="/Home/" data-hover="HOME">Home</a></li>
                    <li><a href="/About/AboutMe" data-hover="About">About</a></li>
                    @*<li><a href="/Content/grid.html" data-hover="Grids">Grids</a></li>
                    <li><a href="/Content/services.html" data-hover="Services">Services</a></li>
                    <li><a href="/Content/gallery.html" data-hover="Gallery">Gallery</a></li>
                    <li><a href="/Content/contact.html" data-hover="CONTACT">Contact</a></li>*@
                </ul>
                <!-- script-for-nav -->
                <script>
                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- script-for-nav -->
                <ul class="side-icons">
                    <li><a class="fb" href="#"></a></li>
                    <li><a class="twitt" href="#"></a></li>
                    <li><a class="goog" href="#"></a></li>
                    <li><a class="drib" href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 main">
            <!--banner-section-->
            @RenderBody()
            <!--//banner-section-->

            <!--/footer-->
            <div class="footer">
                <div class="footer-top">
                    <div class="col-md-4 footer-grid">
                        <h4>Lorem sadipscing </h4>
                        <ul class="bottom">
                            <li>Consetetur sadipscing elitr</li>
                            <li>Magna aliquyam eratsed diam</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <h4>Message Us Now</h4>
                        <ul class="bottom">
                            <li><i class="glyphicon glyphicon-home"></i>Available 24/7 </li>
                            <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com">mail@example.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <h4>Address Location</h4>
                        <ul class="bottom">
                            <li><i class="glyphicon glyphicon-map-marker"></i>2901 Glassgow Road, WA 98122-1090 </li>
                            <li><i class="glyphicon glyphicon-earphone"></i>phone: (888) 123-456-7899 </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2018 . |   by <a href="http://omuralcin.com/">Ömür ALÇİN</a> </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//footer-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>
