﻿@{
    Layout = null;
}
@model IEnumerable<HaberPortal.Haber>
@helper IcerikBelirle(string icerik)
{
    if (icerik.Length > 105)
    {
             @icerik.Substring(0,95); 
    }
    else
    {
            @icerik
    } 
}

<div class="top-news">
    <div class="top-inner">
        
            @if(Model !=null){
                foreach (var sonhaber in Model)
                {
                    <div class="col-md-6 top-text">
                        <a href="/Haber/Goster/@sonhaber.Baslik/@sonhaber.Id"><img src="@sonhaber.ResimYol" class="img-responsive" alt=""></a>
                        <h5 class="top"><a href="/Haber/Goster/@sonhaber.Baslik/@sonhaber.Id">@sonhaber.Baslik</a></h5>
                        <p>@IcerikBelirle(@sonhaber.Icerik)</p>
                        <p>@sonhaber.YayimTarihi.ToShortDateString() <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@sonhaber.YorumSayisi </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@sonhaber.Goruntulenme </a><a class="span_link"  href="/Haber/Goster/@sonhaber.Baslik/@sonhaber.Id"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                    </div>
                }
            } 
        <div class="clearfix"> </div>
    </div> 
</div>
