﻿@{
    ViewBag.Title = "Index";
}

<div class="banner-section">
    <h3 class="tittle">General <i class="glyphicon glyphicon-picture"></i></h3>
    <div class="banner">
       @{Html.RenderAction("SliderGetir");}
        <!--banner--> 
    </div>
    <!--//banner-->
    <!--/top-news-->
   @{Html.RenderAction("EnSonHaberler");}
    <!--//top-news-->
   
</div>

<div class="banner-right-text">
    @{Html.RenderAction("Videolar");}
    @{Html.RenderAction("RastgeleHaberler");}

</div>

<div class="clearfix"> </div>