﻿@{
    Layout = null;
}
@model IEnumerable<HaberPortal.Haber>


<div class="media">
    @if (Model != null)
    {
        <h3 class="tittle media">Rastgele Haberler <i class="glyphicon glyphicon-floppy-disk"></i></h3>
        foreach (var rndHaber in Model)
        {
            <div class="general-text two">
                <a href="/Content/single.html"><img src="@rndHaber.ResimYol" class="img-responsive" alt=""></a>
                <h5 class="top"><a href="/Haber/Goster/@rndHaber.Baslik/@rndHaber.Id">@rndHaber.Baslik</a></h5>
                <p>@rndHaber.Ozet</p><p> @rndHaber.Icerik.Substring(0,90)</p>
                <p>@rndHaber.YayimTarihi.ToString("dd MM yyyy") <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@rndHaber.Yorum.Count </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@rndHaber.Goruntulenme </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
            </div>
        }
    }
    
</div>
 
