﻿@{
    Layout = null;
}

@model IEnumerable<HaberPortal.Haber>
@helper BaslikBelirle(string baslik) { 
    if (baslik.Length >45 )
    {
        <marquee>@baslik</marquee>
    }
    else
    { 
        @baslik
    }
    
}
<div class="callbacks_container">
    <ul class="rslides" id="slider4">
        @if (Model != null) { 
            foreach (var haber in Model)
            {
                <li>
                    <img src="@haber.ResimYol" class="img-responsive" alt="" />
                    <div class="clearfix"> </div>
                    <div class="b-bottom">
                        <h5 class="top"><a href="/Haber/Goster/@haber.Baslik/@haber.Id">@BaslikBelirle(haber.Baslik)</a></h5>
                        <h5>@haber.Ozet.Substring(0,20)...</h5>
                        <p>@haber.YayimTarihi <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@haber.YorumSayisi </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@haber.Goruntulenme </a><a class="span_link"  href="/Haber/Goster/@haber.Baslik/@haber.Id" ><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                    </div>
                </li>
            }
        } 
    </ul>

</div>
<div class="clearfix"> </div>
<script src="/Content/js/responsiveslides.min.js"></script>
<script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager: true,
                                nav: true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
</script>