﻿@{
    Layout = null;
}
@model IEnumerable<HaberPortal.Haber>

    <h3 class="tittle">Videolar  <i class="glyphicon glyphicon-facetime-video"></i></h3>
    <!--/general-news-->
    <div class="general-news">
        <div class="general-inner">
            @if (Model != null)
            {
                int count = 0;
                foreach (var videolar in Model)
                {
                    count++;
                   
                    if (count == 1)
                    {
                        <div class="general-text">
                            <iframe class="glyphicon-hd-video" src="@videolar.VideoYol" frameborder="0" allowfullscreen></iframe>
                            @*<img src="/Content/images/gen1.jpg" class="img-responsive" alt=""></a>*@
                            <h5 class="top"><a href="/Haber/Goster/@videolar.Baslik/@videolar.Id">@videolar.Baslik</a></h5>
                            <p>@videolar.Ozet</p>
                            <p>@videolar.YayimTarihi <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@videolar.YorumSayisi </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@videolar.Goruntulenme </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                        </div>
                    }
                    else
                    {
                        <div class="edit-pics">
                            <div class="editor-pics">
                                <div class="col-md-3 item-pic">
                                    
                                    <iframe class="img-responsive" src="@videolar.VideoYol" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-9 item-details">
                                    <h5 class="inner two"><a href="/Haber/Goster/@videolar.Baslik/@videolar.Id">@videolar.Baslik</a></h5>
                                    <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>@videolar.YayimTarihi <a href="#"><i class="glyphicon glyphicon-comment"></i>@videolar.YorumSayisi </a></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                } 
            } 
        </div>
    </div>
    <!--//general-news-->
    <!--/news-->
    <!--/news-->
 
